# Template de configuration (Copier sous .env et modifier les valeurs réelles)
DATABASE_URL=postgresql+psycopg2://epic_crm_user:<your_secure_password>@localhost:5432/epic_crm_db
SECRET_KEY=change_this_to_a_long_secure_random_key_in_production
SENTRY_DSN=your_sentry_dsn_here
DEFAULT_SEED_PASSWORD=change_this_to_a_secure_password
